<!--  Replace menu links here -->
<!doctype html>

<style>

    ul.menu, ul.menu li{margin:0px;padding:0px 10px;list-style:none;position:relative;}

    ul.menu li{line-height:25px}

    ul.menu li{float:left;margin-left:10px}

    ul.menu div{display:none;position:absolute;top:20px;left:0px}

    ul.menu div a{display:block}

    ul.menu li:hover div{display:block;}

</style>

<ul class="menu">

    <li><a href="{{site.baseurl}}/index.html">Home</a></li>

    <li><a href="{{site.baseurl}}/About Me.html">privacy-policy</a></li>
    <li><a href="{{site.baseurl}}/contact.html">Contact</a></li>
    <li><a href="{{site.baseurl}}/contact.html">Contact</a></li>
    <li><a href="{{site.baseurl}}/categories.html">Menu</a><div><a href="{{site.baseurl}}/categories.html">menu</a><a href="{{site.baseurl}}/categories.html">menu32</a></div></li>

</ul>
